[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/akbash-e/da-ai-course-kbsu-ncfu/blob/main/2024-fall/seminar1/DA_Tools_Python%2BPandas_Tasks.ipynb)

# Задание 1. Инструменты для Анализа Данных. Python & Pandas

В этом задании вы должны использовать Pandas, чтобы ответить на несколько вопросов о наборе данных [Adult](https://archive.ics.uci.edu/dataset/2/adult).

Информация о признаках:

| Название       | Роль    | Тип         | Возможные значения категориальных признаков                                                                                                                                                                                                                                                                                                                                                                                            | Пропущенные значние |
|----------------|---------|-------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------|
| age            | Feature | Integer     |                                                                                                                                                                                                                                                                                                                                                                                                                                        | нет                 |
| workclass      | Feature | Categorical | Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.                                                                                                                                                                                                                                                                                                                                 | да                  |
| fnlwgt         | Feature | Integer     |                                                                                                                                                                                                                                                                                                                                                                                                                                        | нет                 |
| education      | Feature | Categorical | Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.                                                                                                                                                                                                                                                                                 | нет                 |
| education-num  | Feature | Integer     |                                                                                                                                                                                                                                                                                                                                                                                                                                        | нет                 |
| marital-status | Feature | Categorical | Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.                                                                                                                                                                                                                                                                                                                             | нет                 |
| occupation     | Feature | Categorical | Tech-support,  Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty,  Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing,  Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.                                                                                                                                                                                                           | да                  |
| relationship   | Feature | Categorical | Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.                                                                                                                                                                                                                                                                                                                                                                    | нет                 |
| race           | Feature | Categorical | White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.                                                                                                                                                                                                                                                                                                                                                                           | нет                 |
| sex            | Feature | Binary      | Female, Male.                                                                                                                                                                                                                                                                                                                                                                                                                          | нет                 |
| capital-gain   | Feature | Integer     |                                                                                                                                                                                                                                                                                                                                                                                                                                        | нет                 |
| capital-loss   | Feature | Integer     |                                                                                                                                                                                                                                                                                                                                                                                                                                        | нет                 |
| hours-per-week | Feature | Integer     |                                                                                                                                                                                                                                                                                                                                                                                                                                        | нет                 |
| native-country | Feature | Categorical | United-States,  Cambodia, England, Puerto-Rico, Canada, Germany,  Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba,  Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico,  Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan,  Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand,  Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong,  Holand-Netherlands. | да                  |
| income         | Target  | Binary      | >50K, <=50K.                                                                                                                                                                                                                                                                                                                                                                                                                           | нет                 |

In [ ]:
import numpy as np
import pandas as pd

pd.set_option("display.precision", 2)
pd.set_option("display.max.columns", 100)

In [ ]:
DATA_URL = "https://raw.githubusercontent.com/akbash-e/da-ai-course-kbsu-ncfu/main/data/"

In [ ]:
data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. Сколько мужчин и женщин (признак `sex`) представлено в данном наборе данных?

In [ ]:
# пишите код здесь

2. Каков средний возраст (признак `age`) женщин?

In [ ]:
# пишите код здесь

3. Каков процент граждан Германии (признак `native-country`)?

In [ ]:
# пишите код здесь

4. Каковы среднее и стандартное отклонение возраста для тех, кто зарабатывает более 50K в год (признак `salary`)?
5. И тех, кто зарабатывает менее 50K в год?

In [ ]:
# пишите код здесь

6. Правда ли, что люди, зарабатывающие более 50K, имеют как минимум среднее образование (признак `education` — `Bachelors`, `Prof-school`, `Assoc-acdm`, `Assoc-voc`, `Masters` или `Doctorate`)?

In [ ]:
# пишите код здесь

7. Выведите статистику возраста (признак `age`) для каждой расы (признак `race`) и каждого пола (признак `sex`). Используйте методы `groupby()` и `describe()`. Найдите максимальный возраст мужчин расы `Amer-Indian-Eskimo`

In [ ]:
# пишите код здесь

8. Среди кого выше доля тех, кто зарабатывает много (`>50K`): женатых или холостых мужчин (признак `marital-status`)? Считать женатыми тех, у кого `marital-status` начинается с `Married` (`Married-civ-spouse`, `Married-spouse-absent` или `Married-AF-spouse`), остальные считаются холостяками.

In [ ]:
# пишите код здесь

9. Каково максимальное количество часов, которое человек работает в неделю (признак `hours-per-week`)? Сколько человек работает такое количество часов? Каков процент тех, кто зарабатывает много (`>50K`) среди них?

In [ ]:
# пишите код здесь

10. Подсчитайте среднее время работы (признак `hours-per-week`) для тех, кто зарабатывает мало и много (признак `salary` — `>50K`), для каждой страны (признак `native-country`). Какими они будут для Японии?

In [ ]:
# пишите код здесь